.todolist-title {
    color: teal;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 25px;
}

.empty-state {
    padding: 20px;
    font-weight: bold;
    text-align: center;
    color: teal;
}
